<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amai Admin Dashboard</title>
      <!-- CSS -->
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Simple lightbox -->
    <link rel="stylesheet" href="/css/simpleLighbox.min.css">
    <!-- Site CSS  -->
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <div id="container">
        <!-- Search bar -->
        <!-- Nav Bar -->
        <!--    UOM, Recipes, Ingredients, unit cost -->
        <!--    In list of recipes allow to edit or delete recipes-->
        <nav></nav>
        <main id="content">

        </main>
    </div>
      <div class="float-button main-button">
        <div class="round-btn">
          +
        </div>
      </div>
<!-- Simple Lightbox -->
<script src="/js/simpleLightbox.min.js"></script>
<!-- Sweet alert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- Site scripts -->
<script src="/js/admin.js" type="module"></script>
</body>
</html>