<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amai Admin Dashboard</title>
</head>
<body>
    <div id="container">
        <!-- Search bar -->
        <!-- Nav Bar -->
        <!--    UOM, Recipes, Ingredients, unit cost -->
        <!--    In list of recipes allow to edit or delete recipes-->
        <ul>

        </ul>
    </div>
</body>
</html>