<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>USPS Rate Result</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <h1 class="center">USPS Rate Calculator Result</h1>
    <div class="result">
      <p>The Zip codes provided are not valid please try again</p>
      <a href="./">Return to Calculator</a>
    </div>
  </div>
</body>
</html>